:root {
  --main-bg-color: #fff;
  --main-color: #000;
  --blue-color: #0066ff;
  --red-color: #ff5f5f;
  --turq-color: #00a9d0;
  --bronze-color: #ba670d;
  --purple-color: #cbcbff;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

:selection {
  background: var(--purple-color);
}
::-moz-selection {
  background: var(--purple-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  z-index: 0;
  overflow-x: hidden;
  overflow: visible;
}

/* ::before {
  font-variation-settings: "wght" 400;
} */

body {
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--main-color);
  transition: color 0.7s ease;
}

a:hover {
  color: var(--blue-color);
  border-bottom: 1px solid var(--blue-color);
  transition: color 0s;
}

.page {
  background-color: var(--main-bg-color);
  padding: 4rem;
  color: var(--main-color);
  font-size: 1.2rem;
  position: relative;
  transition: background-color 0.7s ease, color 0.7s ease;
  height: 100vh;
}

.content {
  position: fixed;
  padding: 4rem;
  border: 1px solid var(--main-color);
  transition: border 0.7s;
  width: calc(100vw - 8rem);
  height: calc(100vh - 8rem);
  background-color: transparent;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.title {
  position: relative;
  font-size: 1.2rem;
  font-variation-settings: 'wght' 400;
}

.title::before {
  position: absolute;
  font-size: 1.2rem;
  left: -1rem;
  color: var(--blue-color);
  content: '$';
}

.bronze {
  position: relative;
}

.bronze a:hover {
  color: var(--bronze-color);
  border-bottom: 1px solid var(--bronze-color);
}

.bronze::before {
  position: absolute;
  left: -1rem;
  color: var(--bronze-color);
  font-size: 1.2rem;
  content: '•';
}

.text {
  font-size: 2.4rem;
}

.git {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
}

.git span:nth-child(1) {
  color: var(--red-color);
}

.git span:nth-child(2) {
  color: var(--turq-color);
  cursor: pointer;
}

.git span:nth-child(3) {
  color: var(--blue-color);
}

.nav {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: calc(100vw - 8rem);
}

.nav span:nth-child(1) {
  grid-column: 3 / span 1;
}

.header-title {
  grid-column: 1 / span 6;
}

.vid {
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-color);
  transition: border 0.7s ease;
  grid-row: 1 / span 3;
}

.vid video {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mobile {
  display: none;
}

footer {
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 8rem);
}

footer .info > div {
  display: inline-block;
}

footer .info > div:not(:last-child) {
  margin-right: 2rem;
}

footer .info > div:nth-child(1) .title::before {
  content: '$';
}

footer .info > div .title::before {
  content: '';
}
